@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Classic kids game with a board divided into 9 squares placed over 3 rows with 3 squares per row. Each player represents a O or X on the board. Players take turns to try get 3 in a row vertically, horizontally or diagonally. First person to get 3 in a row wins, if nobody gets 3 in a row and all board squares are populated the game is a draw.</p>
    <p>Code <a href="https://github.com/carlpaton/TicTacToe" target="_blank">for this application lives here</a>.</p>
</div>
